# ---------------------------
# 기본 OS / 에디터 관련
# ---------------------------
.DS_Store
*.log
*.swp
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ---------------------------
# Flutter / Dart 관련
# ---------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/coverage/
/build/

# ---------------------------
# Android 관련
# ---------------------------
/android/.gradle/
/android/local.properties
/android/app/release
/android/app/debug
/android/app/profile
/android/key.properties
*.jks
*.keystore
*.apk
*.aab

# ---------------------------
# iOS / Xcode 관련
# ---------------------------
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/build/
/ios/Runner/GeneratedPluginRegistrant.*

# ---------------------------
# 기타
# ---------------------------
app.*.map.json
app.*.symbols
.vercel

# ---------------------------
# 플랫폼 관련 전체 무시 (로컬 전용 빌드)
# ---------------------------
/android/
/ios/
/build/
/android/app/build/